<app-home></app-home>

<div class="table table-striped m-1">
    <thead>
        <tr>
            <th *ngFor="let header of tableHeaders" class="text-center">{{header}}</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user._id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.password}}</td>
            <td>
                <a routerLink="/updateUser/{{user._id}}" class="btn btn-outline-secondary">Edit</a>
                <a (click)="deleteUser(user._id)" class="btn btn-outline-danger">Delete</a>
            </td>
           
        </tr>
    </tbody>
</div>

