<app-home></app-home>

<div class="container">
    <form >

        <h1 class="text-center mb-3">Create bill</h1>

        <div class="form-group mb-3">
            <label class="form-label" for="name">Name</label>
            <input  class="form-control" type="text" placeholder="Aa" id="name" required autocomplete="off">
        </div>

        <div class="form-group mb-3">
            <label class="form-label" for="comment">Comment</label>
            <input  class="form-control" type="text" placeholder="Aa" id="comment" required>
        </div>

        <div class="form-group mb-3">
            <label class="form-label" for="price">Price</label>
            <input  class="form-control" type="text" placeholder="e.g. 1000" id="price" required>
        </div>

        <div class="form-group mb-3">
            <button  class="btn btn-outline-success w-100 mb-2">Submit</button>
            <a  routerLink="/home" class="btn btn-outline-danger w-100">Back</a>
        </div>

    </form>
</div>